<mat-toolbar color="primary">
  <a mat-button routerLink='login' routerLinkActive='active'><span class="fa fa-home fa-lg"></span> Login</a>
  <a mat-button routerLink='/signup' routerLinkActive='active'><span class="fa fa-sign-in fa-lg"></span> Signup</a>
  <a mat-button  routerLink='/furniture' routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Furnitures</a>
  <a mat-button  routerLinkActive='active' ><span class="fa fa-address-card fa-lg"></span> Contact</a>
  <a mat-button  routerLinkActive='active' ><span class="fa fa-cart-plus fa-lg"></span> My cart</a>
  <span class="flex-spacer"></span>
</mat-toolbar>