
<form #form="ngForm" (ngSubmit)="submit(form)" class="example-form">
  <mat-error *ngIf="isvalid==false">Invalid Credentials</mat-error>
  <p>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username" ngModel  type="text"  name="username" #username="ngModel" required>
    <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
    <!-- <mat-error *ngIf="username.errors?.minlength">Minimum 5 chars is required</mat-error> -->
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" ngModel  type="text"  name="password" #password="ngModel" required>
    <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
  </mat-form-field>
  </p>
  <span class="flex-spacer"></span>
  <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="form.form.invalid">Submit</button>
</form>